<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h1>Contactanos y envianos dinero</h1>
    <a href="/"> Home </a>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Aspernatur quae error earum ullam nihil enim repellat ex 
        saepe. Nostrum cumque tempora omnis hic blanditiis odit 
        error illo necessitatibus mollitia natus.
    </p>
    <img src="foto.jpg" alt="foto">
</body>
</html>